[submodule ".registry"]
	path = .registry
	url = https://github.com/role-model/universe
	shallow = true
	branch = HEAD
[submodule "roleR"]
	path = roleR
	url = https://https://github.com/role-model/roleR
	shallow = true
	registered = true
