[submodule ".registry"]
	path = .registry
	url = https://github.com/role-model/universe
	shallow = true
	branch = HEAD
[submodule "roleR"]
	path = roleR
	url = https://github.com/role-model/roleR
	shallow = true
	registered = true
[submodule "roleShiny"]
	path = roleShiny
	url = https://github.com/role-model/roleShiny
	shallow = true
	registered = true
[submodule "pika"]
	path = pika
	url = https://github.com/ajrominger/pika
	shallow = true
	registered = false
